<div class="row">
	<% for(var i =0;i<species.length;i++) { %>
		<div class="card col s3">
			<div class="card-image waves-effect waves-block waves-light">
				<img style="height:160px;" class="activator" src="<%= species[i].pathImage %>">
			</div>
			<div class="card-content">
				<span class="card-title grey-text text-darken-4"><%= species[i].popularName %></span>
				<p>
					<%= species[i].scientificName %></br>
					<a href="#" class="activator">Mais opções</a>
				</p>
			</div>
			<div class="card-reveal">
				<input type="hidden" class="id-specie" value="<%= species[i].id %>" />
				<span class="card-title grey-text text-darken-4">Ações<i class="material-icons right">close</i></span>
				<a href="#" class="btnAssociateSpecie">Associar ao zoológico</a>
				<a href="<%= species[i].pathQrCode %>" style="display:block" target="_blank">Baixar QRCode</a>
			</div>
		</div>
	<% } %>
</div>
<div class="row">

    <% if (pageCount > 1) { %>
	        <ul class="pagination">
	            <% if (currentPage > 1) { %>
	                <li><a href="1"><i class="material-icons">chevron_left</i></a></li>
	            <% } %>
	            <% var i = 1;
	            if (currentPage > 5) {
	                i = +currentPage - 4;
	            } %>
	            <% if (i !== 1) { %>
	                <li class="disabled"><a href="#">...</a></li>
	            <% } %>
	            <% for (i; i<=pageCount; i++) { %>
	                <% if (currentPage == i) { %>
	                    <li class="active"><a href="<%= i %>"><%= i %></a></li>
	                <% } else { %>
	                    <li><a href="<%= i %>"><%= i %></a></li>
	                <% } %>
	                <% if (i == (+currentPage + 4)) { %>
	                    <li class="disabled"><a href="#">...</a></li>
	                <% break; } %>
	            <% } %>
	            <% if (currentPage != pageCount) { %>
	                <li><a href="<%= pageCount %>"><i class="material-icons">chevron_right</i></a></li>
	            <% } %>
	        </ul>
	    <% } %>

</div>